<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzhu.myblog.project.frontend.mapper.FrontendMapper">


    <select id="articlePage" resultType="com.pzhu.myblog.project.frontend.domain.Article">
        SELECT
  id,
  title,
  (SELECT
    category_title
  FROM
    blog_category
  WHERE id = category_id) AS category,
  summary,
  summary_img,
  author,
  (SELECT
    avatar
  FROM
    blog_user
  WHERE user_name = author) AS author_img,
  click_num,
  create_time
FROM
  blog_article ORDER BY id DESC
    </select>


  <select id="archiveList" resultType="com.pzhu.myblog.project.frontend.domain.Archive">
    SELECT  DISTINCT
  YEAR(post.create_time) AS `year`,
  MONTH(post.create_time) AS `month`,
  (SELECT GROUP_CONCAT(title) FROM  blog_article WHERE  MONTH(blog_article.create_time) =  MONTH(post.create_time) )
  AS title

FROM
  blog_article AS post
  </select>

  <select id="aboutMe" resultType="java.lang.String">
    SELECT about FROM blog_user where user_type = 3
  </select>
</mapper>
